<div id="discoverBody">
  <div class="container">
    <div class="jumbotron">
      <center><h1>What is Ether Radio?</h1></center>
      <p>Soundcloud is an online music distribution platform, and has been the launchpad for many independent songwriters’ careers. In the past 11 years, Soundcloud has failed to generate a profit. Instead of providing tools for their independent music artists’ success, they became a subscription service. Soundcloud’s paid subscription services remove ads and provide offline listening for a monthly fee, but the majority of users don’t subscribe. Those free users suffer while Soundcloud continues to lose millions of dollars each year.</p>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>What are we trying to do?</h1>
      <p>Establish a competitive subscription-free music streaming service.
        Promote the success of independent music artists using blockchain technology to protect artists’ copyright and pursue infringement of their works.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Methods</h1>
      <p>Deploy the latest online monetization techniques to pay songwriters more than current online music services such as Soundcloud, Spotify, and Youtube.
        Provide users the choice to listen for free.
        Provide independent songwriters the toolkit for success in the online music industry.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>What is next?</h1>
      <p>Attract independent music artists to create music using the tools we provide.
        Receive advice from affluent members of the record industry.
        Provide a rewarding experience for investors to support independent songwriters.
      </p>
    </div>
  </div>

</div>
