<div id="discoverBody">
  <div class="container">
    <div class="p-3 justify-content-center align-content-center m-0-auto">
      <div class="jumbotron">
        <center><h1>What is Ether Radio?</h1></center>
        <p>Etherradio is an open-source and free music streaming service. We are aiming to innovate
Soundcloud and Youtube. Our streaming service is home to fan-inspired music, rap battles, and
underground performances. We incentivize producers, rap artists, and fans to collaborate to
create new music using cryptocurrency.</p>
      </div>
    </div>
    <div class="jumbotron">
      <center><h1>What are we trying to do?</h1></center>
      <p>Establish a competitive subscription-free music streaming service.
        Promote the success of independent music artists using blockchain technology to protect artists’ copyright and pursue infringement of their works.
      </p>
    </div>
  </div>
</div>
