<div id="faqBackground">
  <div class="container">
    <div class="jumbotron">
      <h2>How will this solution generate revenue to pay the independent music artists?</h2>
      <p>We provide a pay-per-play rate better than Spotify and Soundcloud. This is accomplished using a universal basic income model and silent advertising. Powered by blockchain, we  provide multiple avenues for users to earn revenue for their favorite artists. It would be up to the user to choose whichever is most convenient. </p>
      <hr style="background-color: #FFFFFF"/>
      <h2>How will EtherRadio prevent registry manipulation via collusion? </h2>
      <p>We prevent collusion by making having submissions moderated by holders of ERT (Ether Radio Token) and votes submitted by wallet music client.</p>
    </div>
  </div>
</div>
