<div id="teamBackground">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 spacer5">
        <div class="jumbotron">

            <center><div>
              <img src="App/Styles/Img/casey_pic.jpg" class="rounded-circle"  height="120" width="120"/>
            </div></center>

          <div >
            <p>Hello, my name is Casey! I am an aspiring Software Engineer and Entrepreneur. I enjoy hard work whether it is at my landscaping company or independent software development. I enjoy studying emerging technologies and information security. I want to integrate cryptocurrency into society through developing decenteralized applications.
            </p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a  href="https://www.linkedin.com/in/caseykey/"><img src="App/Styles/Img/linked_in.png" class="rounded-circle" height="40" width="40"/></a>
            <a href="https://github.com/Legitimate"> <img src="App/Styles/Img/git_logo.jpg" class="rounded-circle"  href="" height="40" width="40"/></a>
            <a href="https://twitter.com/illbeanywhere"><img src="App/Styles/Img/twitter_logo.png" class="rounded-circle"  href="" height="40" width="40"/></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 spacer5">
        <div class="jumbotron">
          <center><div>
            <img src="App/Styles/Img/marcus_pic.jpg" class="rounded-circle"  height="120" width="120"/>
          </div></center>
          <div>
            <p>My name is Marcus Cantu. I am a Computer Science major at the University of Wyoming. I excel in an environment that is team oriented. I enjoy writing software that has an impact on people. Currently I am on the MedRight team at Happy Jack Software in Laramie, Wyoming. I am working on an SPA that is used to make the burden of medication tracking in medical facilities less difficult.
            </p>
         </div>
         <div class="col-md-12 col-sm-12">
          <a href="https://www.linkedin.com/in/marcus-cantu-a0b569131/"><img src="App/Styles/Img/linked_in.png" class="rounded-circle"  href="" height="40" width="40"/></a>
          <a href="https://github.com/Cantum2"><img src="App/Styles/Img/git_logo.jpg" class="rounded-circle"  href="" height="40" width="40"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
